*{
    margin: 0;
    padding: 0;
    font-family: serif;
}
.main{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5),rgb(0,0,0,0.5)),
	url("background.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
}
ul li{
    list-style:none;
    display: inline;
    margin-left:20px;
}
li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.logo{
    width:35px;
    height:35px;
    cursor:pointer;
    border-style: solid;
    border-color: yellow;
    border-radius: 50%;
    position: relative;
}
.navbar{
    width:85%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top:25px;
    margin: 0 100px;
}
.content{
    display: inline-block;
    color: white;
    text-align: center;
    margin-top: 15%;
    width: 100%;
}
button {
    width: 100px;
    padding: 15px;
    border-style: solid;
    border-color: blue;
    color: white;
    background: transparent;
    margin: 20px 10px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
}

button:hover {
    background: blue;
    color: white;
}
